* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);    
    
    margin: auto;

    height: 70vh;
    
}

header {
    margin-top: none;
}

.header-text {
    font-weight: bold;
    text-align: center;
    font-size: 5em;
    color: #FFFFFF;
    text-shadow: -1px 10px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passphrase {
    width: 55vw;
    min-height: 65px;

    font-size: 2rem;
    text-align: center;

    margin: 3vh;

    background: #FFFFFF;
    border-radius: 20px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.outline {
    background: transparent;
    border: none;
    outline:none;

    margin: 0vh 2vw 0vh 2vw;

    font-size: 3rem;
    color: #FFFFFF;
    text-shadow: 0px 2.1px 4px rgba(0, 0, 0, 0.4);
}

button:active {
    transform: translateY(4px) translateX(-4px);
}

.words-option {
    background: #C850C0;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

@media(max-width: 1024px) {
    .passphrase {
        width: 90vw;
    }

    .selectors {
        display: flex;
        flex-direction: column;
    }

    .outline {
        margin: 2vh 0vw 0vh 0vw;
    }
}